<!-- TEMPLATE 1 -->

        <div class="col-sm-1" style="font-family: Verdana">
            <div style="font-size: smaller">
                <u><a href="#/record/redirect?query_string=<%= queryString %>">
                    <%= _source.record_id %>
                    Author: Pushkar Ambatkar
                </a></u>
            </div>
        </div>
        <!--<div class="col-sm-3" style="font-family: Verdana">-->
        <!--    <div style="font-size: smaller">-->
        <!--        <label>Record Name</label>-->
        <!--    </div>-->
        <!--    <div style="font-weight: bold">-->
        <!--        <%= _source.MVL_SCNRO_DISPL_NM%>-->
        <!--    </div>-->
        <!--</div>-->
